body {
    background: #000;
    color: #fff;
    font-family: 'Netflix Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
}

h1 {
    font-size: 24px;
}

#search-bar {
    width: 30%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

nav button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.movie-card {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card img {
    width: 50%;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#play-movie {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
